In [33]:
import pandas as pd
import numpy as np

#read in data using pandas
train_df = pd.read_csv(r"C:\Users\new\Desktop\dataset\Clinical_Information\main.csv")
#check data has been read in properly
train_df.head()

   FILENAME  DEGREEOFSUBTLETLY  NODULESIZE  AGE  XCOOR  YCOOR  DIAGNOSIS
0         1                  5          15   53   1634    692          1
1         2                  5          30   78   1614   1090          1
2         3                  5          30   63   1303    447          0
3         4                  5          14   68    606    836          1
4         5                  5          35   73   1438    692          0

In [34]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['DIAGNOSIS'])

#check that the target variable has been removed
train_X.head()

   FILENAME  DEGREEOFSUBTLETLY  NODULESIZE  AGE  XCOOR  YCOOR
0         1                  5          15   53   1634    692
1         2                  5          30   78   1614   1090
2         3                  5          30   63   1303    447
3         4                  5          14   68    606    836
4         5                  5          35   73   1438    692

In [35]:
#create a dataframe with only the target column
train_y = train_df[['DIAGNOSIS']]

#view dataframe
train_y.head()

   DIAGNOSIS
0          1
1          1
2          0
3          1
4          0

In [36]:
from keras.models import Sequential
from keras.layers import Dense

In [37]:
model = Sequential()

In [38]:
n_cols = train_X.shape[1]

In [39]:
#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

In [40]:
#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

In [41]:
from keras.callbacks import EarlyStopping

In [42]:
early_stopping_monitor = EarlyStopping(patience=3)

In [43]:
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 123 samples, validate on 31 samples
Epoch 1/30
123/123 [==============================] - 0s 3ms/step - loss: 107930.4758 - val_loss: 119332.9844
Epoch 2/30
123/123 [==============================] - 0s 125us/step - loss: 94320.7457 - val_loss: 104770.0781
Epoch 3/30
123/123 [==============================] - 0s 55us/step - loss: 82926.8594 - val_loss: 91163.9219
Epoch 4/30
123/123 [==============================] - 0s 58us/step - loss: 71870.0753 - val_loss: 79082.7656
Epoch 5/30
123/123 [==============================] - 0s 99us/step - loss: 62034.9780 - val_loss: 68529.8594
Epoch 6/30
123/123 [==============================] - 0s 93us/step - loss: 53971.7313 - val_loss: 59165.6133
Epoch 7/30
123/123 [==============================] - 0s 119us/step - loss: 46650.1742 - val_loss: 50990.5938
Epoch 8/30
123/123 [==============================] - 0s 80us/step - loss: 40229.6667 - val_loss: 43838.5664
Epoch 9/30
123/123 [==============================] - 0s 130us/step - loss: 34546.9373 - val_loss: 37585.0156
Epoch 10/30
123/123 [==============================] - 0s 98us/step - loss: 29872.0006 - val_loss: 32103.1328
Epoch 11/30
123/123 [==============================] - 0s 98us/step - loss: 25601.9873 - val_loss: 27403.1289
Epoch 12/30
123/123 [==============================] - 0s 98us/step - loss: 22127.2872 - val_loss: 23342.0137
Epoch 13/30
123/123 [==============================] - 0s 104us/step - loss: 19155.0618 - val_loss: 19900.5234
Epoch 14/30
123/123 [==============================] - 0s 98us/step - loss: 16792.6307 - val_loss: 17164.5430
Epoch 15/30
123/123 [==============================] - ETA: 0s - loss: 15679.130 - 0s 92us/step - loss: 14794.9777 - val_loss: 15071.0850
Epoch 16/30
123/123 [==============================] - 0s 127us/step - loss: 13179.3353 - val_loss: 13360.4736
Epoch 17/30
123/123 [==============================] - 0s 130us/step - loss: 11704.7868 - val_loss: 11867.3809
Epoch 18/30
123/123 [==============================] - 0s 163us/step - loss: 10502.8410 - val_loss: 10519.2861
Epoch 19/30
123/123 [==============================] - 0s 98us/step - loss: 9337.3436 - val_loss: 9327.4971
Epoch 20/30
123/123 [==============================] - 0s 130us/step - loss: 8376.2817 - val_loss: 8235.6289
Epoch 21/30
123/123 [==============================] - 0s 163us/step - loss: 7464.6101 - val_loss: 7253.4419
Epoch 22/30
123/123 [==============================] - 0s 130us/step - loss: 6635.4349 - val_loss: 6385.1362
Epoch 23/30
123/123 [==============================] - ETA: 0s - loss: 6684.78 - 0s 137us/step - loss: 5925.0221 - val_loss: 5591.5293
Epoch 24/30
123/123 [==============================] - 0s 98us/step - loss: 5269.0417 - val_loss: 4869.3389
Epoch 25/30
123/123 [==============================] - 0s 65us/step - loss: 4682.2800 - val_loss: 4217.2690
Epoch 26/30
123/123 [==============================] - 0s 163us/step - loss: 4091.2000 - val_loss: 3653.2712
Epoch 27/30
123/123 [==============================] - 0s 135us/step - loss: 3607.6519 - val_loss: 3142.6436
Epoch 28/30
123/123 [==============================] - 0s 74us/step - loss: 3155.5078 - val_loss: 2691.6360
Epoch 29/30
123/123 [==============================] - 0s 65us/step - loss: 2754.5778 - val_loss: 2298.2546
Epoch 30/30
123/123 [==============================] - 0s 178us/step - loss: 2416.0914 - val_loss: 1946.4039

In [44]:
test_y_predictions = model.predict(train_X)

In [45]:
test_y_predictions

array([[ -70.6435    ],
       [ -56.17007   ],
       [ -58.490932  ],
       [ -13.044734  ],
       [ -55.74761   ],
       [ -19.57683   ],
       [  -5.870188  ],
       [  -8.556599  ],
       [ -61.52954   ],
       [ -18.723717  ],
       [ -19.651672  ],
       [   9.1288395 ],
       [ -74.07243   ],
       [ -13.531959  ],
       [  -9.069505  ],
       [ -16.967335  ],
       [ -11.588662  ],
       [ -49.715897  ],
       [  -3.4651105 ],
       [  -7.414273  ],
       [ -65.56248   ],
       [ -23.87859   ],
       [  -6.802772  ],
       [  -6.4843802 ],
       [   1.5531048 ],
       [ -10.701195  ],
       [ -10.1141405 ],
       [ -54.116463  ],
       [ -15.015939  ],
       [ -77.227615  ],
       [ -66.21302   ],
       [ -12.069938  ],
       [ -15.29854   ],
       [ -10.450895  ],
       [ -63.547623  ],
       [ -98.7759    ],
       [ -23.90389   ],
       [ -37.562912  ],
       [  -6.099425  ],
       [ -75.86763   ],
       [ -76.36071   ],
       [  -9.096396  ],
       [ -11.679825  ],
       [ -16.923164  ],
       [ -27.862411  ],
       [ -97.147156  ],
       [   5.4399    ],
       [  -4.495012  ],
       [ -11.191098  ],
       [ -16.855509  ],
       [ -14.53271   ],
       [ -24.292948  ],
       [ -16.73631   ],
       [ -13.191133  ],
       [ -86.41876   ],
       [ -14.530407  ],
       [ -12.770327  ],
       [ -75.42245   ],
       [ -18.507526  ],
       [ -47.6197    ],
       [ -64.115906  ],
       [ -69.94329   ],
       [  -8.396564  ],
       [ -51.242184  ],
       [   1.8746456 ],
       [  -7.885938  ],
       [ -73.49842   ],
       [ -27.109251  ],
       [  -1.9165741 ],
       [ -15.875816  ],
       [ -72.93419   ],
       [  -4.601663  ],
       [ -69.568634  ],
       [ -63.306362  ],
       [ -76.047714  ],
       [   8.287176  ],
       [  -7.8676944 ],
       [ -78.04399   ],
       [ -72.935425  ],
       [  -6.5423017 ],
       [ -59.943516  ],
       [  -7.0487084 ],
       [ -62.370293  ],
       [ -52.39928   ],
       [ -17.180676  ],
       [ -19.344898  ],
       [ -12.755653  ],
       [   2.5041049 ],
       [ -92.70112   ],
       [ -52.24246   ],
       [  -1.0073277 ],
       [ -73.59275   ],
       [ -34.67401   ],
       [ -14.820209  ],
       [ -24.780836  ],
       [  -5.052611  ],
       [ -73.39896   ],
       [ -27.53746   ],
       [ -16.522343  ],
       [-121.65324   ],
       [-100.987335  ],
       [ -12.896818  ],
       [ -36.965034  ],
       [ -18.202347  ],
       [  -5.1406837 ],
       [   8.9730835 ],
       [ -69.74132   ],
       [ -13.175699  ],
       [  -6.92759   ],
       [ -67.06687   ],
       [   3.4965765 ],
       [ -42.141586  ],
       [ -47.336914  ],
       [  -7.9766774 ],
       [  -0.76180613],
       [-123.92461   ],
       [   1.8052677 ],
       [ -24.082026  ],
       [  -7.8528132 ],
       [ -65.17645   ],
       [  -5.178886  ],
       [ -75.94938   ],
       [ -68.69001   ],
       [   0.4355873 ],
       [ -19.12031   ],
       [ -36.8608    ],
       [  -8.004962  ],
       [  -8.120041  ],
       [ -75.2169    ],
       [ -47.544785  ],
       [ -71.789696  ],
       [ -23.98826   ],
       [ -41.777924  ],
       [ -23.106724  ],
       [ -13.614233  ],
       [ -30.24533   ],
       [  -5.406421  ],
       [ -78.89656   ],
       [ -32.999763  ],
       [ -58.239487  ],
       [ -42.554966  ],
       [ -18.278439  ],
       [ -35.54682   ],
       [ -83.3539    ],
       [ -10.209568  ],
       [ -16.643776  ],
       [  -4.1667895 ],
       [ -60.61177   ],
       [ -24.778496  ],
       [ -57.29013   ],
       [ -59.032364  ],
       [ -42.688     ],
       [ -73.46942   ],
       [ -20.947472  ]], dtype=float32)

In [46]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

In [47]:
#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

In [48]:
#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 123 samples, validate on 31 samples
Epoch 1/30
123/123 [==============================] - 0s 4ms/step - loss: 3063.8738 - val_loss: 792.9815
Epoch 2/30
123/123 [==============================] - 0s 217us/step - loss: 1438.1959 - val_loss: 166.5289
Epoch 3/30
123/123 [==============================] - 0s 195us/step - loss: 740.6198 - val_loss: 212.2400
Epoch 4/30
123/123 [==============================] - 0s 213us/step - loss: 490.3517 - val_loss: 673.9570
Epoch 5/30
123/123 [==============================] - 0s 214us/step - loss: 226.4610 - val_loss: 554.1185

In [49]:
#read in training data
train_df_2 = pd.read_csv(r"C:\Users\new\Desktop\dataset\Clinical_Information\main.csv")

#view data structure
train_df_2.head()

   FILENAME  DEGREEOFSUBTLETLY  NODULESIZE  AGE  XCOOR  YCOOR  DIAGNOSIS
0         1                  5          15   53   1634    692          1
1         2                  5          30   78   1614   1090          1
2         3                  5          30   63   1303    447          0
3         4                  5          14   68    606    836          1
4         5                  5          35   73   1438    692          0

In [50]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['DIAGNOSIS'])

#check that the target variable has been removed
train_X_2.head()

   FILENAME  DEGREEOFSUBTLETLY  NODULESIZE  AGE  XCOOR  YCOOR
0         1                  5          15   53   1634    692
1         2                  5          30   78   1614   1090
2         3                  5          30   63   1303    447
3         4                  5          14   68    606    836
4         5                  5          35   73   1438    692

In [51]:
from keras.utils import to_categorical
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.DIAGNOSIS)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [52]:
#create model
model_2 = Sequential()

In [53]:
#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

In [54]:
#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

In [55]:
#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [56]:
#train model
model_2.fit(train_X_2, train_y_2, epochs=30, validation_split=0.4, callbacks=[early_stopping_monitor])

Train on 92 samples, validate on 62 samples
Epoch 1/30
92/92 [==============================] - 1s 6ms/step - loss: 3.6882 - acc: 0.7500 - val_loss: 3.6396 - val_acc: 0.7742
Epoch 2/30
92/92 [==============================] - 0s 318us/step - loss: 3.1535 - acc: 0.8043 - val_loss: 3.6396 - val_acc: 0.7742
Epoch 3/30
92/92 [==============================] - 0s 207us/step - loss: 3.1535 - acc: 0.8043 - val_loss: 3.6396 - val_acc: 0.7742
Epoch 4/30
92/92 [==============================] - 0s 200us/step - loss: 3.1535 - acc: 0.8043 - val_loss: 3.6396 - val_acc: 0.7742

In [63]:
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model

x_train, x_test, y_train, y_test = train_test_split(train_X,train_y)

In [64]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

115
39
115
39

In [65]:
y_train

array([[1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1]], dtype=int64)

In [66]:
y_test

array([[1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1]], dtype=int64)